body {
  background: radial-gradient(circle, #9D50BB, #6E48AA);
  font-family: 'Courier New', Courier, monospace;
  height: 100vh;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
  align-items: center;
  justify-items: center;
  max-width: 80vw;
}
.element {
  border: 3px solid #fff;
  padding: 10px;
  border-radius: 20px;
  transition: all 0.4s ease;
}
.rotate:hover {
  transform: rotate(15deg);
}
.square {
  width: 150px;
  height: 150px;
  background-color: #FF5722;
  transition: background-color 0.5s ease;
}
.color-change:hover {
  background-color: #3F51B5;
}
video {
  border-radius: 15px;
  width: 260px;
}
button {
  padding: 15px 30px;
  background-color: #FFC107;
  color: #000;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
  animation: pop-in 1s ease-in-out;
}
.bounce {
  animation: bounce 2s infinite;
}
button:active {
  transform: scale(0.9);
  background-color: #FFEB3B;
}
audio {
  width: 180px;
}
@keyframes bounce {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-10px);
  }
}
@keyframes pop-in {
  from {
      transform: scale(0);
      opacity: 0;
  }
  to {
      transform: scale(1);
      opacity: 1;
  }
}
.fade-in {
  animation: fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}
